@using Microsoft.AspNetCore.Identity
@model User
@inject UserManager<User> _user;
@inject RoleManager<IdentityRole> _roles;
@{
}

        <ul>
            @foreach(var role in _roles.Roles.ToList())
            {
                <li>
                    @if((await _user.GetRolesAsync(Model)).Where(r => r == role.Name).ToList()?.Count <= 0)
                    {
                    <form asp-area="Admin" asp-controller="Users" asp-action="AddRoleToUser" method="post">
                            <label for="">@role.Name</label>
                            <input type="hidden" name="RoleName" value="@role.Name">
                            <input type="hidden" name="userId" value="@Model.Id" />
                            <button type="submit">Add</button>
                    </form>
                    }
                    else
                    {
                    <form asp-area="Admin" asp-controller="Users" asp-action="RemoveRoleToUser" method="post">
                            <label for="">@role.Name</label>
                            <input type="hidden" name="RoleName" value="@role.Name">
                            <input type="hidden" name="userId" value="@Model.Id" />
                            <button type="submit">Remove</button>
                    </form>
                    }

                </li>
            }
           
        </ul>